.section__list {
    margin: 0;
    list-style-type: none;
    padding: 10px;
}

.section__listItem {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    word-break: break-word;
    padding: 10px;
    grid-gap: 10px;
    border-bottom: 3px solid #eee;
}

.section__content {
    text-decoration: line-through;
}

.section__listItem--hide {
    display: none;
}