.buttons__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:768px) {
    .buttons__container {
        grid-template-columns: 1fr;
        grid-gap:20px;
        padding:10px;
    }
}

.buttons__button {
    border: none;
    max-height: 30px;
    background-color: #fff;
    color: #008080;
    transition: color 1s;
    cursor: pointer;
}

.buttons__button:hover {
    color: #00b3b3;
}

.buttons__button:disabled {
    color: gray;
}